<?xml version="1.0" encoding="utf-8" ?>
<paths>
  <!-- Old Log Path
  <log-path>Some old path, preserved in comments for reference</log-path>
  -->
  <!--
  <log-path> is where the command reports usage. the [YEAR] bit is used in the code to automatically
  create a new log file each year. You could also modify what gets replaced here and have monthly 
  logs as well by using a month and year instead of just a year, ie if the recorded file path is 
  PluginLog_[YEAR].txt, you could replace [YEAR] with 2018 for PluginLog_2018.txt, or with 201806 (June
  2018) and have a path of PluginLog_201806.txt
  -->
  <log-path>\\servername\directory\...\logfile_[YEAR].txt</log-path>
  <!--The methods that utilize the following paths are currently bipassed due to concerns with people 
  who do not share my sense of humror. They are utilized by the easter egg functions that pop up messages 
  to users of the tools at a random occurance. See EasterEgg comment in HKSTools.cs
  -->
  <ee-path>\\servername\directory\..\file.txt</ee-path>
  <ee-image-path>\\servername\directory\...\ImageDirectory</ee-image-path>
</paths>